
{% load staticfiles %}
 <div class="comment-posted" id="comment-posted">
                <div class="comments" id="sub-change">
                <a id="sub-relocate"></a>
                 <a name="blog_comments" id="comments"></a>

                 <div class="comments_nav"><h2>评论({{ blog.comment_set.count }})</h2></div>
                 {% ifequal blog.comment_set.count 0 %}
                    <div class="comments_body">
                        <div class="comments_container"><h2>没有评论</h2></div>
                    </div>
                 {% else %}
                     {% for comment in blog.comment_set.all %}
                        <div class="comment_container">
                            <div class="comment-head">
                            <div class="comments_id"><img src="{% static "images/pbricks.png" %}" width="42" height="42"/></div>
                                <span class="li_small_2">{{ comment.name }}</span>
{#                                <span class="li_small_2">{{ comment.date | date:"Y-m-d H:i" }}</span>#}
                                <span class="li_small_2">{{ comment.date | date:"Y-m-d H:i" }}</span>
                            </div>
                            <div class="comment_content">{{ comment.content }}</div>
                        </div>

                     {% endfor %}
                 {% endifequal %}
             </div>
           </div>