{% extends "blog/base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
    <script>
        $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $('#comment_form form').submit(function(){
                var name = $("#id_name").val();
                var content = $("#id_comment").val();
                $('#comment_form form #submit_btn').attr('disabled', 'disabled');
                $('#sub-change').attr('disabled','disabled');
                $('#comment_form form #submit_btn').html(' <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>提交中');

                $.ajax({
                    type:"POST",
                    data: {name:name, content:content},
                    url: "{% url 'blog:showcomment' blog.id %}",
                    cache: false,
                    dataType: "html",
                    success: function(result, statues, xml){
                        if (result != 'false'){
                            var jsonObj = new Array();
                            jsonObj = JSON.parse(result);
                            console.log(jsonObj);
                            $("form #id_comment").val("");
                            $("form #id_name").val("");
                            var replace_html = '<div class="comment_container">' +
                                '<div class="comment-head"><div class="comments_id"><img src="{% static "images/pbricks.png" %}" width="42" height="42"/></div>' +
                                    '<span class="li_small_2">' +jsonObj.name+ '</span>' +
                                    '<span class="li_small_2">' +jsonObj.date+ '</span>' +
                                '</div>' +
                                '<div class="comment_content">' +jsonObj.content+ '</div></div>';

                            $(".comment-posted").append(replace_html);

                        }
                        else{
                            alert("评论未能正确提交");
                        }
                    },
                    error: function(){

                        alert("false");
                    }
                });
                $('#comment_form form #submit_btn').removeAttr('disabled');
                $('#comment_form form #submit_btn').html('提交');
                return false;
            });
        });
    </script>
{% endblock %}

{% block title %}bricks_blog{% endblock %}
    {% block article %}
        <article class="post tag-about-ghost tag-ghost-in-depth tap-zhu-shou-han-shu">
            <div class="post-head">
                <h1 class="post-title">
                    <h1>{{ blog.title }}</h1>
                </h1>
            </div>
            <span class="auther">
                作者
                <a href="#">bricks</a>
            </span>
            <time class="date" datetime="2015-4-1">{{ blog.publish_time }}</time>
             <div class="post-content">
                <div>{{ blog.body|markdown | safe }}</div>
             </div>
             <div class="post-footer clearfix">
                <hr/>
                    <div class="pull-left tag-list"></div>
                        <img src="{% static 'images/label2.png' %}">
                            {% for tags in blog.tag.all %}
                                <a href="{% url 'blog:blog_tag' tags.id %}">{{ tags }}</a>
                            {% endfor %}
             </div>


        </article>
    {% endblock %}
    {% block comment %}
        <div class="col-xs-12 col-md-8 comment">
           <div class="comment-posted" id="comment-posted">
                <div class="comments" id="sub-change">
                <a id="sub-relocate"></a>
                 <a name="blog_comments" id="comments"></a>

                 <div class="comments_nav"><h2>评论({{ blog.comment_set.count }})</h2></div>
                 {% ifequal blog.comment_set.count 0 %}
                    <div class="comments_body">
                        <div class="comments_container"><h2>没有评论</h2></div>
                    </div>
                 {% else %}
                     {% for comment in blog.comment_set.all %}
                        <div class="comment_container">
                            <div class="comment-head">
                            <div class="comments_id"><img src="{% static "images/pbricks.png" %}" width="42" height="42"/></div>
                                <span class="li_small_2">{{ comment.name }}</span>
{#                                <span class="li_small_2">{{ comment.date | date:"Y-m-d H:i" }}</span>#}
                                <span class="li_small_2">{{ comment.date | date:"Y-m-d H:i" }}</span>
                            </div>
                            <div class="comment_content">{{ comment.content }}</div>
                        </div>

                     {% endfor %}
                 {% endifequal %}

             </div>
           </div>

            <div class="comments_body" id="comment_form">
                <div class="comments_nav"><h2>新的评论</h2></div>
                <div class="comments-content">
                <form class="form-horizontal" method="post" id="cmt_sub_form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="control-label" for="id_name">用户名</label>
                        <input type="text" id="id_name" class="form-control" name="name" required="required" placeholder="请输入您的用户名"/>

                    </div>

                    <a name="newcomment" id="newcomment"></a>
                    <div class="form-group">
                        <label class="control-label" for="id_comment">评论</label>
                        <textarea class="form-control" row="5" id="id_comment" name="comment" placeholder="请输入评论内容" required="required"></textarea>
                    </div>
                    <p style="display:none"><label for="id_honeypot">如果你在该字段输入任何内容，您的评论会被视为垃圾评论</label><input type="text" name="honeypot" id="id_honeyot"></p>
                    <div class="form-actions">
                        <button class="btn btn-info" id="submit_btn" type="submit" >提交</button>
                        <br/>

                    </div>
                </form>
                </div>
            </div>
        </div>

    {% endblock %}


