{% extends "blog/base.html" %}
{% load staticfiles %}
{% load django_markdown %}


{% block title %}bricks_blog{% endblock %}
    {% block article %}
        {% if blogs.article_set.count %}
        {% for blog in blogs.article_set.all %}
        <article class="post tag-about-ghost tag-ghost-in-depth tap-zhu-shou-han-shu">
            <div class="post-head">
                <h1 class="post-title">
                    <a href="{% url 'blog:blog_detail' blog.id %}"><h1>{{ blog.title }}</h1></a>
                </h1>
            </div>
            <span class="auther">
                作者
                <a href="#">bricks</a>
            </span>
            <time class="date" datetime="2015-4-1">{{ blog.publish_time }}</time>
             <div class="post-content">
                <div>{{ blog.body|markdown | safe | truncatechars_html:200 }}</div>
             </div>
             <div class="post-permalink">
                <a href="{% url 'blog:blog_detail' blog.id %}" class="btn btn-default">阅读全文</a>
             </div>
             <div class="post-footer clearfix">
                <hr/>
                    <div class="pull-left tag-list"></div>
                        <img src="{% static 'images/label2.png' %}">
                            {% for tags in blog.tag.all %}
                                <a href="{% url 'blog:blog_tag' tags.id %}">{{ tags }}</a>
                            {% endfor %}
             </div>

        </article>

        {% endfor %}
        {% else %}
        <article class="post tag-about-ghost tag-ghost-in-depth tap-zhu-shou-han-shu">
            <div class="post-head">
                <h1 class="post-title">
                    <h1>暂无此标签下的内容</h1>
                </h1>
            </div>

        </article>
        {% endif %}

    {% endblock %}